.formBtn:hover {
  scale: 1.1;
}

.formBtn {
  transition: all 0.5s ease;
}
.resendcode {
  color: var(--bordercolor) !important;
}
.input:focus,
.select:focus {
  outline: none;
  border: 1px solid var(--bordercolor) !important;
}

.inputFilter {
  width: 26px;
  height: 26px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: var(--yellow);
  -webkit-border: 2px solid var(--yellow);
  -moz-border: 2px solid var(--yellow);
  border: 2px solid var(--yellow);
  border-radius: 20%;
  display: inline-block;
}

.inputFilter:checked {
  background-color: var(--yellow);
  border: none;
  outline: none;
}
.error {
  font-size: 0.8vw;
}
