.bgAr {
  background-image: linear-gradient(to right, #331c41 0%, #dcace2 90%);
  min-height: 48vw;
}
.bgEn {
  background-image: linear-gradient(to left, #331c41 0%, #dcace2 90%);
  min-height: 48vw;
}

.loginBtn:hover {
  scale: 1.2;
}

.loginBtn {
  transition: all 0.5s ease;
}
