.sidebar a,
.unactive {
  padding: 8px 0px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #818181 !important;
  display: block;
}
.sidebar a:hover {
  color: #f1f1f1 !important;
}
.customW {
  width: 60% !important;
}

.customTooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}
.userName {
  border: 2px solid var(--yellow);
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
}
.sidebarIcon {
  color: var(--iconColor) !important;
}
.sidebarIcon:focus {
  color: var(--bordercolor);
}
