.lottipark {
  height: 200px !important;
  width: 200px;
  /* color: red !important; */
  /* background-color: aquamarine !important; */
}
.imgregister {
  position: absolute;
  /* right: 1100px; */
  left: 100px;
  top: 450px;
  height: 600px;
}
.login-register-wrapper {
  background-color: rgba(0, 0, 0, 0); /* Adjust the last value (alpha) to change transparency */
  width: 600px;
  margin-right: 4rem;
  /* margin-top: -150px; */
  top: 0;
  padding: 0 10px;
  border-radius: 5px;
  overflow: hidden;
  color: var(--background);
}

.btnregister {
  padding: 5px;
  font-size: 1em;
  border: 0px;
  cursor: pointer;
  border-radius: 10px !important;
}
button:focus {
  outline: 0px;
}
.btnregister:active {
  /* padding-bottom: 10px; */
  /* border-bottom: solid 2px #1059ff; */
  scale: 1.2;
}

/* footer: forgot section */
.forgot-panel {
  /* position: relative; */
  height: 100px;
  /* color: red; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  text-align: center;
  padding-top: 10px;
  cursor: pointer;

  border-top: solid 1px rgba(110, 105, 105, 0.3);
}
/* form styling */
.form-group input,
select {
  width: 100%;
  height: 60px;
  /* padding-left: 15px; */
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background: var(--inputcolor);
}
.form-group label {
  text-transform: uppercase;
}
input.submit {
  font-weight: 750;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  color: var(--yellow);
  padding: 8px 0px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin-top: 23px;
  /* background: linear-gradient(to right, var(--yellow), var(--background)); */
  background: var(--background);
}
/*Form positioning and animation */

form#registerform {
  top: -350px;
  position: relative;
}

.forgot-panel {
  top: -600px;
  color: rgb(120, 122, 111);
}

form,
.forgot-panel {
  position: relative;
  transition: all 0.5s ease;
}
#loginBtn,
#registerBtn {
  transition: all 0.5s ease;
}
