.bgColor {
    background-color: var(--background) !important;
}
.btn-yellow {
    background-color: var(--yellow) !important;
}

.iconColor {
    color: var(--iconColor) !important;
}

.navColor {
    background-color: var(--navcolor) !important;
}