.bgColor{
    background-color: #331C41 !important;
}
.iconColor{
    color: #5D3B70 !important;
    /* color: #422852 !important; */
}

.navColor{
    background-color: #291336 !important;
}

.yellowColor{
    background-color: #F1A525 !important;
}