.currentColor {
  background-color: rgb(53, 28, 76) !important;
}
/*  */
:root {
  --background: #331C41;
  --navcolor: #291336;
  --inputcolor: rgba(238, 233, 237, 0.5);
  --yellow: #f1a525;
  --iconColor: #422852 ;
}
